.new-items__wrapper {
  @include wrapper;
  padding-top: 97px;
  text-align: center;
  margin-bottom: 47px;
}

.new-items__wrapper h2 {
  @include title;
}

.new-items__link {
  @include section-link;
}

.new-items__slider {
  width: 100%;
  box-sizing: border-box;
}

.new-items__list {
  @include list-reset;
  padding-top: 60px;
  margin-bottom: 30px;
}

.new-items__card {
  text-align: center;
}

.new-items__card a {
  color: $black;
}

.new-items__card img {
  display: block;
  margin-bottom: 22px;

  @media (max-width: 1200px) {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.new-items__card p {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
}

.new-items__card span {
  font-weight: bold;
  font-size: 14px;
}

.new-items__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.new-items__navigation-button {
  width: 29px;
  height: 9px;
  border: none;
  background-color: transparent;

  svg {
    stroke: $brown;
  }
}
