/*Цвета*/
$white: #ffffff;
$brown: #a87b62;
$black: #1d1613;
$simple-black: #000000;
$grey: #9b9997;
$background-light: #f0eae4;

/*Миксины*/

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrapper {
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  @media (max-width: 1023px) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
